@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 20, 1) 100%);

    height: 100vh;
    font-family: "Cormorant", serif;
    font-family: "Sorts Mill Goudy", serif;


    /* Prevent horizontal scrolling */
}

header {
    background-color: black;

    .img-lang {
        width: 30px !important;
        height: 30px;
    }

    .logo_nav {
        width: 140px;
        height: 50px;
        margin-right: 50px;
        cursor: pointer;

        img {
            width: 130%;
            height: 100%;
            object-fit: cover;
        }
    }

    .nav_title {
        color: red;
        font-size: 40px;
        padding: 0px
    }

    .netflix-header {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 100%);
        padding: 1rem 0;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .search-input {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .search-click {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: white;
        color: white;
        box-shadow: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .search-input:focus {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: white;
        color: white;
        box-shadow: none;
    }

    .search-input::placeholder {
        color: #ffffff8c;
    }
}

main {
    padding-top: 30px;

    .search-results {
        position: relative;

        .arrow_left {
            position: absolute;
            top: 50%;
            left: -55px;
            transform: translateY(-50%);
            font-size: 20px;
            cursor: pointer;

            &:hover {
                color: red
            }
        }

        .arrow_right {
            position: absolute;
            top: 50%;
            right: -50px;
            transform: translateY(-50%);
            font-size: 20px;
            cursor: pointer;

            &:hover {
                color: red
            }

        }
    }


    /* gestione dello slide laterale  */
    .slide_row {
        scroll-behavior: smooth;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}

.movies-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



.movie-card {
    margin-bottom: 20px;
}

.card_film {

    border: 1px solid rgba(255, 255, 255, 0.267);
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.9s;
    background-color: #000;
    color: #fff;
    box-shadow: -3px 5px 15px 0px rgba(255, 255, 255, 0.2);
    aspect-ratio: 11/16;

    &.flipped {
        transform: rotateY(180deg);
    }

    .card-front,
    .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 20, 1) 100%);
    }

    .card-front {
        transform: rotateY(0deg);

        .title {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }
    }

    .card-back {
        transform: rotateY(180deg);
        background-color: #141414;
        padding: 1rem;
        overflow-y: auto;

        .title {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        .vote {
            font-size: 0.9rem;
            margin-bottom: 1rem;
        }

        .overview {
            font-size: 0.9rem;
            line-height: 1.4;
        }
    }

    .movie-poster {
        width: 100%;
        height: 100%;
        object-fit: contain;


    }


    .placeholder-img {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        display: block;
        padding-top: 2rem;
    }
}

.big_card {
    box-shadow: -3px 5px 15px 0px rgba(255, 255, 255, 0.2);


    .big-img {
        width: 100% !important;
        max-height: 500px;
        border-radius: 5px;
        object-fit: cover;



    }


    &:hover {
        box-shadow: -3px 5px 15px 0px rgba(255, 255, 255, 0.95);
        transition: box-shadow 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.titolo_card {
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
    top: 80%;
}

.user_lang {
    width: 40px;
    height: 40px;
}

.langChoice .dropdown-menu {
    position: absolute;
    z-index: 1050;
    width: auto;
}

.langChoice .dropdown-menu-end {
    right: 0;
}

.btn_lang {
    width: 20px;
    height: 30px;
}

.btn_lang.active {
    border-bottom: 2px solid rgb(90, 90, 90);
    display: flex;

}

.flag {
    width: 20px;
    height: 20px;
    margin-left: -10px
}

.img-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.cast_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;
}

.cast_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    /* Centra l'immagine */
    display: block;
}

.cast_name {
    text-align: center;

    font-size: 0.9rem;
    word-wrap: break-word;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

}